<header class="masthead d-flex">
  <div class="container text-center my-auto">
    <h2 class="mb-1">Protege el mundo con nosotros</h2>
    <h3 class="mb-5">
      <p>Se un recolector o un recilador</p>
    </h3>
    <a class="btn btn-primary btn-lg" href="/profile">
      Empezar
    </a>
  </div>
</header>