<div class="containerBoton">
  <input type="checkbox" id="btn-mas">
  <div class="redes">
    <a href="/logout" class="fas fa-sign-out-alt"></a>
    <a href="/links/recolectasAceptadas" class="fa fa-book-open"></a>
    <a href="/links/recolectas" class="fa fa-book"></a>
    <a href="/links/listasRecoleccionesRealizadas" class="fas fa-check"></a>
    <a href="/links/cuenta" class="fas fa-user"></a>

  </div>
  <div class="btn-mas">
    <label for="btn-mas" class="fa fa-plus"></label>
  </div>
</div>
<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-body">
          <h3>Bienvenido {{user.username}}</h3>
          <button class="btn btn-secondary gestion" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Gestionar</button>
          {{!-- <a href="/links" class="btn btn-primary m-4">
            Cuenta
          </a> --}}
        </div>
      </div>
    </div>
  </div>

  <div class="container p-4">
    <div class="box">
      <div class="container-4">
        <form action="/links/busqueR" method="POST">
          <input type="text" id="search" name="search" placeholder="Busca barrio: Belen, Manrique, Poblado" />
          <button type="submit" class="icon seguir"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>


  <div class="container px-4">
    <div class="row gx-5">
      <div class="col">
        <div class="p-3 border bg-light">
          <h4>Recolector</h4>
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  ¿Quien es?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Persona u organización que recolecte material reciclable que surga de su comercio o producciones para
                  su venta o su donación.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  ¿Que hace?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Registra su cantidad de material reciclable para que aprovechadores que esten dentro de su localidad
                  lo puedan contactar, recoger y usar para tomar ventaja de esos materiales y poder llegar a una
                  economia circular.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Crear perfil
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Creas el perfil de la organización o vivienda que este dispuesta a recolectar reciclaje para
                  registrarlo en Renobas y que sea facil contactarte para reciclarlo.
                </div>
                <a href="/links/recolector"><button type="button" class="btn btn-info">Crear cuenta</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col d-none d-md-block">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../img/1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../img/2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../img/3.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container px-4">
    <div class="row gx-5">
      <div class="col d-none d-md-block">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../img/4.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../img/5.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../img/6.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">
          <h4>Reciclador</h4>
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne1" aria-expanded="false" aria-controls="flush-collapseOne1">
                  ¿Quien es?
                </button>
              </h2>
              <div id="flush-collapseOne1" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Es aquel que busca reciclaje que este dentro de su localidad para contactar al recolector e ir por los
                  elementos y poder reciclarlos.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo2" aria-expanded="false" aria-controls="flush-collapseTwo2">
                  ¿Que hace?
                </button>
              </h2>
              <div id="flush-collapseTwo2" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo2"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Se registra para poder enviar solicitudes a recolectores que le puedan vender su recolección de
                  reciclaje y poder obtener mayor cantidad de materiales.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree3" aria-expanded="false" aria-controls="flush-collapseThree3">
                  Crear perfil
                </button>
              </h2>
              <div id="flush-collapseThree3" class="accordion-collapse collapse" aria-labelledby="flush-headingThree3"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Creas el perfil de la organización o de la persona que se dedique a reciclar material de empresas o de
                  viviendas y asi poder contactar mediante Renobas y recoger de manera segura y facil.
                </div>
                <a href="/links/reciclador"><button type="button" class="btn btn-info">Crear cuenta</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasTopLabel">Gestion de Cuenta</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="container overflow-hidden">
        <div class="row gx-5">
          <div class="col">
            <div class="p-3">
              <a href="/links/cuenta"><button type="button" class="btn btn-warning">Gestión de Perfil</button></a>
            </div>
          </div>
          <div class="col">
            <div class="p-3">
              <a href="/links/recolectasAceptadas"><button type="button" class="btn btn-success">Recolectas
                  asignadas</button></a>
            </div>
          </div>
          <div class="col">
            <div class="p-3">
              <a href="/links/recolectas"><button type="button" class="btn btn-primary">Solicitudes /
                  Recolecciones</button></a>
            </div>
          </div>
          <div class="col">
            <div class="p-3">
              <a href="/links/listasRecoleccionesRealizadas"><button type="button" class="btn btn-secondary">Listas de
                  Recolectas
                  Realizadas</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    //henry_rodriguez23201@elpoli.edu.co
    //AplicacionRenobas22
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/620931d69bd1f31184dc6826/1frpulc3i';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->